// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import './variables';

// Styles

$primary-font: 'open sans';

// Colour

$navbar-links: $primary-colour;
$navbar-hover: $grey;
$navbar-active: $grey;

// Mobile Size

h1 {
  font-size: 1.8em;
  letter-spacing: 1px;
}

h2 {
  font-size: 1em;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
  letter-spacing: 1px;

  &.sub-title {
    font-weight: bold;
    font-style: italic;
  }
}

$navbar-link-size: 1.1em;


// Desktop Size

@media screen and (min-width: $desktop) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

  $navbar-link-size: 1.1em;
}