html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $primary-colour;
  font-family: $primary-font;
}

// Set intro page height to screen resolution WIP
header, body, html {
  height: 100%;
}

// Mobile View

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding-top: 55px;
}

nav a {
  text-decoration: none;

  &.active {
    color: $navbar-active;
  }

  &:hover {
    color: $navbar-hover;
  }
}

#mobile-nav {
  display: flex;
}

#desktop-nav {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: $secondary-colour;
  position: sticky;
  top: 0;

  &-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  &-logo {
    height: 40px;
    width: 40px;
  }

  &-menu {
    color: $primary-colour;
    position: absolute;
    left: 15px;
    font-size: 1.5em;

    &-close {
      color: $primary-colour;
      position: absolute;
      left: 15px;
      font-size: 1.5em;
    }
  }

  &-items {
    // display: none;
    background-color: $dark-grey;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  &-links {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0 15px 0;
    color: $navbar-links;
    font-size: $navbar-link-size;
    font-weight: lighter;
    border-color: $primary-colour;
    border-style: solid;
    border-width: 0 0 1px 0;
  }
}

.display {
  display: flex;
}

.hidden {
  display: none;
}

.content {
  padding: 25px 20px 25px 20px;
  color: $secondary-colour;
  font-weight: normal;

  &-sections {
    display: flex;
    flex-direction: column;
    height: 1080px;
  }
  &-titles {
    display: flex;
    margin: 0 auto;
  }
  &-logo {
    height: 70px;
    width: 70px;
    display: flex;
    margin: 0 auto;
  }
}


// Desktop View

@media screen and (min-width: $desktop) {

  section {
    padding-top: 120px;
  }

  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: $secondary-colour;
    padding-left: 20px;

    &-logo {
      height: 70px;
      width: 70px;
    }

    &-links {
      width: auto;
      border: none;
      padding: 0;
    }
  }

  .content {
    padding: 0 50px 50px 50px;

    &-sections {
      display: flex;
      flex-direction: column;
      height: 1080px;
    }
    &-titles {
      display: flex;
      margin: 0 auto;
    }
  }
}